.page-container {
	background-color: #f2f2f2;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.page-container .tab-bar__placeholder,
.page-container .tab-bar__inner {
  height: 88rpx;
  line-height: 88rpx;
  background: #fff;
}
.page-container .tab-bar__inner {
  font-size: 26rpx;
  color: #333333;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
}

.tab-bar__inner .t-tabs-is-active {
  color: #fa4126 !important;
}

.tab-bar__inner .t-tabs-track {
  background: #fa4126 !important;
}

.page-container .tab-bar__active {
  font-size: 28rpx;
}

.tab-bar .tab-bar__active {
  color: #333333 !important;
}

.tab-bar .t-tabs-track {
  background: #333333 !important;
}

.order-number {
	color: #666666;
	font-size: 28rpx;
}

.order-card {
	margin: 24rpx 0;
	padding: 24rpx 32rpx 24rpx;
	background-color: white;
	border-radius: 8rpx;
}

.order-card .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 24rpx;
}

.order-card .header .store-name {
	font-size: 28rpx;
	font-weight: normal;
	color: #333333;
	display: flex;
	align-items: center;
	line-height: 40rpx;
}

.order-card .header .store-name__logo {
	margin-right: 16rpx;
	font-size: 40rpx;
	width: 48rpx;
	height: 48rpx;
}

.order-card .header .store-name__label {
	max-width: 500rpx;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	white-space: nowrap;
}

.order-card .header .order-status {
	font-size: 26rpx;
	line-height: 40rpx;
	color: #fa4126;
}

.order-card .more-mask {
	padding: 20rpx 0;
	text-align: center;
	background-color: white;
	color: #fa4126;
	font-size: 24rpx;
}

.wr-goods-card__thumb-com {
	width: 176rpx;
	height: 176rpx;
	border-radius: 8rpx;
	overflow: hidden;
}

.goods-info {
	display: flex;
	position: relative;
}

.goods-content {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	flex: 1 1 auto;
	margin-left: 16rpx;
}

.wr-goods-card__title {
	flex-shrink: 0;
	font-size: 28rpx;
	color: #333;
	line-height: 40rpx;
	font-weight: 400;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	word-break: break-word;
}

.wr-goods-card__specs__desc-text {
	height: 100%;
	max-width: 380rpx;
	word-break: break-all;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	font-size: 24rpx;
	height: 32rpx;
	line-height: 32rpx;
	color: #999999;
	margin: 8rpx 0;
}

.right-footer {
	font-size: 28rpx;
	position: absolute;
	bottom: 0;
	right: 0;
}