.header {
	padding: 5rpx 16rpx 30rpx 16rpx;
	background-color: #FFFFFF;
}

.address {
	margin-left: 5rpx;
}

.address-content {
	display: flex;
	justify-content: space-between;
}

.address-value {
	display: flex;
}

.modify-button {
	display: flex;
	color: #84CCC9;
}

.category-list {
	margin-top: 16rpx;
}

.category-border {
	border: 1px solid #f3f3f3;
	border-radius: 16px;
	text-align: center;
	padding-top: 16rpx;
	padding-bottom: 16rpx;
	box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.2);
}

.category-img {
	width: 64rpx;
	height: 64rpx;
}

.category-name {
	font-size: 14px;
	color: #666666;
}

.category-selected {
	background-color: #84CCC9;
}

.category-name-selected {
	color: #FFFFFF;
}

.category-sub-list {
	margin-top: 25rpx;
	padding-left: 16rpx;
	padding-right: 16rpx;
	background-color: #FFFFFF;
	padding-bottom: 110rpx;
	overflow-y: scroll;
}

.category-sub-list-title {
	display: flex;
	padding-top: 20rpx;
}


.category-sub-list-title-label {
	margin-left: 12rpx;
	font-weight: bold;
}

.category-sub-border {
	border: 1px solid #f3f3f3;
	border-radius: 16px;
	text-align: center;
	margin-top: 16rpx;
	margin-bottom: 16rpx;
	box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150rpx;
	width: 220rpx;
}

.category-sub-img {
	width: 64rpx;
	height: 64rpx;
}


.category-sub-name {
	font-size: 14px;
}

.category-sub-remark {
	margin-top: 16rpx;
	font-size: 13px;
	color: #84CCC9;
}

.category-sub-remark-selected {
	color: #EEECE4;
}

.category-sub-label-right {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.container {
	background-color: #F2F2F2;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	background-color: #FFFFFF;
	z-index: 1;
}

.category-cart {
	background-color: #84CCC9;
	border-radius: 50%;
	width: 100rpx;
	height: 100rpx;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 30rpx;
	position: relative;
	margin-left: 50rpx;
}

.footer-left {
	display: flex;
	align-items: center;
}

.selected-category-count {
	margin-left: 15rpx;
}

.order-button {
	width: 40%;
	height: 100rpx;
	background-color: #58C0BC;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
}