.user-card {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 480rpx;
	background-image: url('https://cdn-we-retail.ym.tencent.com/miniapp/template/user-center-bg-v1.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.user-center-card__header {
	margin-top: 100rpx;
	margin-bottom: 48rpx;
	height: 250rpx;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #333;
	position: relative;
}

.user-center-card__header__avatar {
	border-radius: 48rpx;
	overflow: hidden;
}

.user-center-card__header__name {
	font-size: 36rpx;
	color: #333;
	font-weight: bold;
}

.content-wrapper {
	margin-top: 340rpx;
	position: relative;
	padding: 0 30rpx;
}

.left-icon {
	/* width: 48rpx; */
	/* height: 48rpx; */
	/* border-radius: 50%; */
	overflow: hidden;
}